{% for item in items %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item.title }}</td>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <td>
            <a href="{{- path(edit_path, {slug: item.slug}) -}}" class="btn btn-secondary btn-sm active" role="button">{{ 'edit'|trans }}</a>
            {% if delete_path is defined %}
                <a href="{{- path(delete_path, {slug: item.slug}) -}}" class="btn btn-secondary btn-sm active" role="button">{{ 'delete'|trans }}</a>
            {% endif %}
            {% if show_path is defined %}
                <a href="{{- path(show_path, {slug: item.slug}) -}}" class="btn btn-secondary btn-sm active" role="button">{{ 'show'|trans }}</a>
            {% endif %}
        </td>
        {% endif %}
    <tr>
{% endfor %}
