{% extends 'admin-index.html.twig' %}
{% block title %}
    {{ 'Categories'|trans }}
{% endblock %}
{% block contentName %}
    {{ 'Categories'|trans }}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{- path('category_new') -}}" class="btn btn-secondary btn-sm active" role="button">{{ 'new'|trans }}</a>
    {% endif %}
{% endblock %}

{% block items %}
    {% if categories|length == 0 %}
        <p class="text-center">{{ 'Categories not found'|trans }}. {{ 'You can will create new category'|trans }}.</p>
    {% else %}
    {% include 'layouts/_table.html.twig' with {'items' : categories, 'page' : 'category_edit'} only %}
    {% endif %}
{% endblock %}

{% block pagination %}
    {{ knp_pagination_render(categories) }}
{% endblock %}
