<div class="card mb-4">
    <div class="card-body">
        {% import "@msalsas_voting/msalsas_voting_widget.html.twig" as msalsas_voting_widget %}
        {{ msalsas_voting_widget.shakeItCSS() }}
        {{ msalsas_voting_widget.shakeItJS() }}
        {{ msalsas_voting_widget.shakeItModal() }}
        {{ msalsas_voting_widget.shakeIt(post.id) }}
        <h2 class="card-title">
            {% filter upper %}
                {{- post.title -}}
            {% endfilter %}
        </h2>
        <p class="card-text">{{- post.description|raw -}}</p>
        <a href="{{- path('post_show', {slug: post.slug}) -}}" class="btn btn-primary btn-sm active" role="button">{{ 'Show'|trans }}</a>
    </div>
    <div class="card-footer text-muted">
        {% trans with {'%createdAt%': post.createdAt|date('Y-m-d'), '%username%': post.author.username} %}Posted on %createdAt% by %username%{% endtrans %} <br>
        {{ 'Category'|trans }}: <a href="{{- path('category_posts', {categorySlug:  post.category.slug}) -}}">{{  post.category.title }}</a><br>
        {% transchoice post.tags|length %}
            {1} Tag|]1,Inf[ Tags
        {% endtranschoice %}:
          {% for tag in post.tags %}
              <span class="tag">{{ tag.title }}</span>
          {% endfor %}
    </div>
</div>
