{% extends 'base.html.twig' %}

{% block title %}{{ 'Blog'|trans }}{% endblock %}

{% block content %}
    <h1 class="text-center">{{ 'Blog'|trans }}</h1>
    {% if posts|length == 0 %}
        <p class="text-center">{{ 'Posts not found'|trans }}. {{ 'You can will create new post'|trans }}.</p>
    {% else %}
        <div class="posts">
            <div class="row">
                {% include 'layouts/_catalog-grid.html.twig' with {'posts' : posts} only %}
            </div>
        </div>
        <div class="navigation pagination justify-content-center mb-4">
          {{ knp_pagination_render(posts) }}
        </div>
    {% endif %}
{% endblock %}
