{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Posts'|trans }}
{% endblock %}
{% block content %}
    {% if posts|length > 0 %}
    <h1 class="text-center">{{ 'Search Results'|trans }} - <span class="post-count">{{ posts.getTotalItemCount }}</span>
    </h1>
    <div class="posts">
        <div class="row">
            {% include 'layouts/_catalog-grid.html.twig' with {'posts' : posts} only %}
        </div>
    </div>
    {% else %}
        <p class="text-center">{{ 'Posts not found'|trans }}. {{ 'You can will create new post'|trans }}.</p>
    {% endif %}
{% endblock %}
