{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Edit tag'|trans }}
{% endblock %}
{% block content %}
    <h1 class="text-center">{{ 'Edit tag'|trans }}</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class':'tag-form'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
